/* Color Palette
light Gray : #D0CCD0;
White      : #FBFEFF;
Blue       : #529FC3;
Dark Blue  : #155269;
Light Green: #86C4BD;
*/
/* Global Styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
  margin-top: 0;
}

a {
  color: #E61926
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  border: 1px solid black;
}
.col-narrow {
  width: 30%;
  float: left;
  padding: 10px;
  border: 1px solid black;
  min-height: 175px;
}

.col-wide {
  width: 70%;
  float: left;
  padding: 10px;
  border: 1px solid black;
  min-height: 175px;
}

/* Header and Footer
-------------------------*/
header, footer {
  background: #15695C;
  color: #3C3C3C;
}
/* header */
header h1, header h2 {
  color: #A7E3FA;
}

header {
  text-align: center;
}
.profile-img {
  border-radius: 15px;
}

/* footer */
footer {
  text-align: center;
}

.contact-info a {
  padding: 40px;
  display: inline-block;

}
/* Work Experience
-------------------------*/
.work {
  background: #529FC3;
}

/* Education
-------------------------*/
.education {
  background: #86C4BD;
}
